

.landingpage{
    height:450px;
    width:1000px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 200px;
    
}
.welcome{
    height: 350px;
    width: 460px;
    text-align: center;
}
.welcome h1{
    font-size: 2.5em;
}

.welcomeimage{
    height: 350px;
    width: 460px;
    /*  */
}
.welcome button{
    font-size: 1.3em;
    padding: 8px 15px;
    border-radius: 8px;

}
.welcome button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
